@using System.Globalization
@using CatalogoProdutosMVC.DTO
@using CatalogoProdutosMVC.Enums
@model List<PedidoDTO>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
    <h3 class="display-4">Pedidos</h3>
</div>
<br />
<div class="container text-center">

    <table class="table align-middle table-bordered mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Produto</th>
                <th>Cor</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Vendedor</th>
                <th>Cliente</th>
                <th>Data Pedido</th>
                <th>Data Envio</th>
                <th>Status Pagamento</th>
                <th>Status Pedido</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var pedido in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="@pedido.Image"
                             alt=""
                             style="width: 45px; height: 45px"
                             class="rounded-circle" />
                            <div style="width: 350px;">
                                <p class="fw-bold mb-1">@pedido.Produto</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.Cor</p>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.Preco.ToString("F2", CultureInfo.InstalledUICulture)</p>
                        </div>

                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.Categoria</p>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.Quantidade</p>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px;">
                             <p class="fw-normal mb-1">@pedido.Vendedor</p>
                        </div>                     
                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.Cliente</p>
                        </div>                       
                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.DataPedido</p>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px;">
                            <p class="fw-normal mb-1">@pedido.DataEnvio</p>
                        </div>                      
                    </td>
                    <td>
                        @switch (@pedido.StatusPagamento)
                        {
                            case 0:
                                <p class="fw-normal mb-1">@StatusPagamentoEnum.Pendente</p>
                                break;
                            case 1:
                                <p class="fw-normal mb-1">@StatusPagamentoEnum.Pago</p>
                                break;
                        }
                    </td>
                    <td>
                        @switch (@pedido.StatusPedido)
                        {
                            case 0:
                                <p class="fw-normal mb-1">@StatusPedidoEnum.Pendente</p>
                                break;
                            case 1:
                                <p class="fw-normal mb-1">@StatusPedidoEnum.Em_Separação.ToString().Replace("_"," ")</p>
                                break;
                            case 2:
                                <p class="fw-normal mb-1">@StatusPedidoEnum.Enviado</p>
                                break;
                            case 3:
                                <p class="fw-normal mb-1">@StatusPedidoEnum.Finalizado</p>
                                break;
                        }
                        <p class="fw-normal mb-1"></p>
                    </td>
                    <td>
                        @switch (@pedido.StatusPedido)
                        {
                            case 0:
                                <form asp-action="DeletePedido" asp-route-idPedido="@pedido.IdPedido" asp-route-quantidade="@pedido.Quantidade" asp-route-idProduto="@pedido.IdProduto">
                                    <button type="submit" class="btn btn-danger">Apagar</button>
                                </form>
                                break;
                            case 1:
                                <form asp-action="DeletePedido" asp-route-idPedido="@pedido.IdPedido" asp-route-quantidade="@pedido.Quantidade" asp-route-idProduto="@pedido.IdProduto">
                                    <button type="submit" class="btn btn-danger">Apagar</button>
                                </form>

                                break;
                            case 2:
                                <button type="button" class="btn btn-danger" disabled>Apagar</button>
                                break;
                            case 3:
                                <button type="button" class="btn btn-danger" disabled>Apagar</button>
                                break;
                        }

                    </td>
                    <td>
                        @switch (@pedido.StatusPedido)
                        {
                            case 0:
                                <form asp-action="SepararPedido" asp-route-idPedido="@pedido.IdPedido">
                                    <button type="submit" class="btn btn-success">Separar</button>
                                </form>
                                break;
                            case 1:
                                <form asp-action="EnviarPedido" asp-route-idPedido="@pedido.IdPedido">
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                </form>
                                break;
                            case 2:
                                <button type="button" class="btn btn-success" disabled>Enviar</button>
                                break;
                            case 3:
                                <button type="button" class="btn btn-success" disabled>Enviar</button>
                                break;
                        }

                    </td>
                    <td>
                        @switch (@pedido.StatusPagamento)
                        {
                            case 0:
                                <form asp-action="PedidoPago" asp-route-idPedido="@pedido.IdPedido">
                                    <button type="submit" class="btn btn-success">Pago</button>
                                </form>
                                break;
                            case 1:
                                <button type="button" class="btn btn-success" disabled>Pago</button>
                                break;
                        }
                    </td>
            </tbody>
        }
    </table>
</div>