@using CatalogoProdutosMVC.DTO
@using CatalogoProdutosMVC.Enums
@model ProdutoDTO
@{
    ViewData["Title"] = "Cadastro de produtos";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-3">Cadastrar Produtos</h1>
</div>
<br />
<div class="container">
    <form class="row g-3" asp-controller="Products" asp-action="Cadastro" method="post" enctype="multipart/form-data">
        <input type="hidden" />
        <div class="col-md-12">
            <label for="nomeProduto" class="form-label">Nome do produto</label>
            <input asp-for="NomeProduto" class="form-control" />
        </div>
        <div class="col-6">
            <label for="preco" class="form-label">Preço</label>
            <input asp-for="Preco" class="form-control" />
        </div>
        <div class="col-6">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input asp-for="Quantidade" type="number" class="form-control" />
        </div>
        <div>
            <p>
                <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapse_roupas" type="button" aria-expanded="false" aria-controls="collapseExample">
                    Tamanhos por letras
                </button>
            </p>
            <div class="collapse" id="collapse_roupas">
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.UN" class="form-check-input" type="checkbox" name="checksTamanhos.UN">
                    <label class="form-check-label" for="UN">UN</label>
               </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.PP" class="form-check-input" type="checkbox" name="checksTamanhos.PP">
                    <label class="form-check-label" for="PP">PP</label>
               </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.P" class="form-check-input" type="checkbox" name="checksTamanhos.P">
                    <label class="form-check-label" for="inlineRadio1">P</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.M" class="form-check-input" type="checkbox" name="checksTamanhos.M">
                    <label class="form-check-label" for="inlineRadio2">M</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.G" class="form-check-input" type="checkbox" name="checksTamanhos.G">
                    <label class="form-check-label" for="inlineRadio3">G</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.GG" class="form-check-input" type="checkbox" name="checksTamanhos.GG">
                    <label class="form-check-label" for="inlineRadio3">GG</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.XG" class="form-check-input" type="checkbox" name="checksTamanhos.XG">
                    <label class="form-check-label" for="inlineRadio3">XG</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.XGG" class="form-check-input" type="checkbox" name="checksTamanhos.XGG">
                    <label class="form-check-label" for="inlineRadio3">XGG</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.EG" class="form-check-input" type="checkbox" name="checksTamanhos.EG">
                    <label class="form-check-label" for="inlineRadio3">EG</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.EGG" class="form-check-input" type="checkbox" name="checksTamanhos.EGG">
                    <label class="form-check-label" for="inlineRadio3">EGG</label>
                </div>
            </div>
        </div>
       <div>
            <p>
                <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapse_Calcados" type="button" aria-expanded="false" aria-controls="collapseExample">
                    Tamanhos por numeros
                </button>
            </p>
            <div class="collapse" id="collapse_Calcados">
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho33" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho33">
                    <label class="form-check-label" for="inlineRadio1">33</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho34" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho34">
                    <label class="form-check-label" for="inlineRadio1">34</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho35" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho35">
                    <label class="form-check-label" for="inlineRadio2">35</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho36" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho36">
                    <label class="form-check-label" for="inlineRadio3">36</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho37" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho37">
                    <label class="form-check-label" for="inlineRadio3">37</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho38" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho38">
                    <label class="form-check-label" for="inlineRadio3">38</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho39" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho39">
                    <label class="form-check-label" for="inlineRadio3">39</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho40" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho40">
                    <label class="form-check-label" for="inlineRadio3">40</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho41" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho41">
                    <label class="form-check-label" for="inlineRadio3">41</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho42" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho42">
                    <label class="form-check-label" for="inlineRadio3">42</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho43" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho43">
                    <label class="form-check-label" for="inlineRadio3">43</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho44" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho44">
                    <label class="form-check-label" for="inlineRadio3">44</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho45" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho45">
                    <label class="form-check-label" for="inlineRadio3">45</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho46" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho46">
                    <label class="form-check-label" for="inlineRadio3">46</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho47" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho47">
                    <label class="form-check-label" for="inlineRadio3">47</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho48" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho48">
                    <label class="form-check-label" for="inlineRadio3">48</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho49" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho49">
                    <label class="form-check-label" for="inlineRadio3">49</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho50" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho50">
                    <label class="form-check-label" for="inlineRadio3">50</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho51" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho51">
                    <label class="form-check-label" for="inlineRadio3">51</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho52" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho52">
                    <label class="form-check-label" for="inlineRadio3">52</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho53" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho53">
                    <label class="form-check-label" for="inlineRadio3">53</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho54" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho54">
                    <label class="form-check-label" for="inlineRadio3">54</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho55" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho55">
                    <label class="form-check-label" for="inlineRadio3">55</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho56" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho56">
                    <label class="form-check-label" for="inlineRadio3">56</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho57" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho57">
                    <label class="form-check-label" for="inlineRadio3">57</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho58" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho58">
                    <label class="form-check-label" for="inlineRadio3">58</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho58" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho58">
                    <label class="form-check-label" for="inlineRadio3">58</label>
                </div>
                 <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho59" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho59">
                    <label class="form-check-label" for="inlineRadio3">59</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="@Model.checksTamanhos.Tamanho60" class="form-check-input" type="checkbox" name="checksTamanhos.Tamanho60">
                    <label class="form-check-label" for="inlineRadio3">60</label>
                </div>
            </div>
        </div>
        <div>
            <label for="cor" class="form-label">Cor</label>
            <input asp-for="Cor" class="form-control" />
        </div>
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <select asp-for="Categoria" class="form-control">
                <option value="">Selecione</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Situacao">SubCategoria</label>
            <select asp-for="SubCategoria" class="form-control">
                <option value="">Selecione</option>
                <option value="Camiseta">Camiseta</option>
                <option value="Calca">Calça</option>
                <option value="Blusa">Blusa</option>
                <option value="Calcado">Calçado</option>
                <option value="Bone">Boné</option>
                <option value="Meia">Meia</option>
                <option value="RoupaIntima">Roupa Intima</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea asp-for="Descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="Imagem1">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="Imagem2">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="Imagem3">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
            <a role="button" class="btn btn-sm btn-secondary" asp-controller="Products" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>