@using CatalogoProdutosMVC.DTO
@using System.Globalization
@model ProdutoDTO
@{
    ViewData["Title"] = "Detalhes";
}
<div class="container" style="max-width:361px;">
    <div class="container" style="max-width: 360px;">
        <div id="carousel_produtos" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="height: 27em;">
                <div class="carousel-item active">
                    <img src="@Model.Image1" alt="img_01" style="max-width: 360px; min-width: 360px; height: 27em;" />
                </div>
                @if (Model.Image2 != null)
                {
                    <div class="carousel-item">
                        <img src="@Model.Image2" alt="img_02" style="max-width: 360px; min-width: 360px; height: 27em;" />
                    </div>
                }
                @if (Model.Image3 != null)
                {
                    <div class="carousel-item">
                        <img src="@Model.Image3" alt="img_03" style="max-width: 360px; min-width: 360px; height: 27em;" />
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_produtos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" id="btn_prev" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_produtos" data-bs-slide="next">
                <span class="carousel-control-next-icon" id="btn_next" aria-hidden="true"></span>
                <span class="visually-hidden">Proximo</span>
            </button>
        </div>
    </div>
    <br />
    <div class="container text-center" style="max-width: 400px">
        <h5 class="display-6" id="div_nome_detalhes">@Model.NomeProduto @Model.Categoria</h5>
        <p style="font-size:12px; height:5px;">Categoria: @Model.Categoria</p>
    </div>
    <div class="container text-center" style="max-width: 400px">
        <p class="categoria_detalhes">Cor: @Model.Cor</p>
    </div>
    <div class="container-sm">
        <div style="display: inline-flex">
            <div>
                <p class="fs-4">Preço: &nbsp; </p>
            </div>
            <div>
                <p class="fs-4" style="color: red">R$ @Model.Preco.ToString("F2", CultureInfo.InstalledUICulture)</p>
            </div>
        </div>
    </div>
    <form class="row g-3 needs-validation" asp-controller="Pedido" asp-action="RealizarPedido" method="post" novalidate>
        <div>
            <div class="container">
                <div class="div_tamanhos_01">
                    <div id="div_tamanhos">
                        @if (ViewBag.tamanho == "Letra")
                        {
                            if (Model.checksTamanhos.PP == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-pp" value="PP" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-pp">PP</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    PP
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }

                            if (Model.checksTamanhos.P == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-p" value="P" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-p">P</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    P
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }

                            if (Model.checksTamanhos.M == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-m" value="M" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-m">M</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    M
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }

                            if (Model.checksTamanhos.G == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-g" value="G" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-g">G</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    G
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }

                            if (Model.checksTamanhos.GG == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-gg" value="GG" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-gg">GG</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    GG
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.XG == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-xg" value="XG" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-xg">XG</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    XG
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.XGG == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-xgg" value="XGG" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-xgg">XGG</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    XGG
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.EG == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-eg" value="EG" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-eg">EG</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    EG
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.EGG == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-egg" value="EGG" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-egg">EGG</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    EGG
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                        }

                        @*Verificação tamanho (Calçados)*@
                        @if (ViewBag.tamanho == "Numero")
                        {
                            if (Model.checksTamanhos.Tamanho34 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-34" value="34" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-34">34</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    34
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho35 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-35" value="35" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-35">35</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    35
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }

                            if (Model.checksTamanhos.Tamanho36 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-36" value="36" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-36">36</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    36
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho37 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-37" value="37" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-37">37</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    37
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho38 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-38" value="38" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-38">38</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    38
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho39 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-39" value="39" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-39">39</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    39
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho40 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-40" value="40" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-40">40</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    40
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho41 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-41" value="41" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-41">41</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    41
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>

                                </button>
                            }
                            if (Model.checksTamanhos.Tamanho42 == true)
                            {
                                <input asp-for="@Model.pedido.Tamanho" type="radio" name="pedido.Tamanho" class="btn-check btn-check-on" id="btn-check-42" value="42" autocomplete="off">
                                <label class="btn btn-outline-primary tamanho" for="btn-check-42">42</label>
                            }
                            else
                            {
                                <button type="button" class="btn position-relative tamanho" disabled>
                                    42
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-dark border border-light badge rounded-pill bg-dark">
                                        X
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </button>
                            }
                        }
                        
                    </div>
                </div>
            </div>
            <br />
            <div class="accordion accordion-flush container-fluid" id="accordionFlushDetalhes">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingDetalhes">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDetalhes" aria-expanded="false" aria-controls="flush-collapseDetalhes">
                            Detalhes
                        </button>
                    </h2>
                    <div id="flush-collapseDetalhes" class="accordion-collapse collapse" aria-labelledby="flush-headingDetalhes" data-bs-parent="#accordionFlushDetalhes">
                        <div class="accordion-body">
                            @Model.Descricao
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-grid gap-2 col-9 mx-auto">
                <button class="btn btn-success pedir" data-bs-toggle="modal" data-bs-target="#modalPedido" type="button" disabled="disabled" >Pedir</button>
            </div>
        </div>

        @*-------------------------Inicio Modal-------------------------------------------------------------------------------------------------*@
        <div class="modal fade" id="modalPedido" tabindex="-1" aria-labelledby="modalPedidoLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="" modal-title id="modalPedidoLabel">Pedido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" />
                        <div class="col-md-6">
                            <label for="vendedor" class="form-label">Nome do Vendedor</label>
                            <input asp-for="@Model.pedido.Vendedor" id="validationVendedor" class="form-control" required />
                            <div class="valid-feedback">
                                Tudo certo!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, preencha o nome do vendedor.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="cliente" class="form-label">Nome do Cliente</label>
                            <input asp-for="@Model.pedido.Cliente" class="form-control" id="validationCliente" required />
                            <div class="valid-feedback">
                                Tudo certo!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, preencha o nome do cliente.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Quantidade</label>
                            <select asp-for="@Model.pedido.Quantidade" class="form-select selectQuantidade">
                                @for (var i = 1; i <= Model.Quantidade; i++)
                                {
                                    if (i == 1)
                                    {
                                        <option value="@i.ToString()" selected>@i.ToString()</option>
                                    }
                                    else
                                    {
                                        <option value="@i.ToString()">@i.ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div style="display:inline-flex ">
                            <div style="font-size:18px; font-weight:bold; padding-top:10px; width: 62px;">
                                Total :
                            </div>
                            <div style="padding-top:10px; font-size:18px; color:red">
                                <p class="precoProd">R$ @Model.Preco.ToString("F2", CultureInfo.InstalledUICulture)</p>
                            </div>
                            
                        </div>
                        <input type="hidden" value="@Model.Preco" id="hdPrecoProd"/>
                        <input type="hidden" asp-for="@Model.pedido.Preco" value="@Model.Preco" id="hdPrecoTotalPedido"/>
                        <input type="hidden" asp-for="@Model.pedido.Cor" value="@Model.Cor" />
                        <input type="hidden" asp-for="@Model.pedido.IdProduto" value="@Model.IdProd" />
                        <input type="hidden" asp-for="@Model.pedido.Produto" value="@Model.NomeProduto" />
                        <input type="hidden" asp-for="@Model.pedido.Categoria" value="@Model.Categoria" />
                        <input type="hidden" asp-for="@Model.pedido.SubCategoria" value="@Model.SubCategoria" />
                        <input type="hidden" asp-for="@Model.pedido.DataPedido" value="@DateTime.Now" />
                        <br />
                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*--------------------------------------------------------------------------------------------------------------------------------------*@
    </form>
