@using System.Globalization
@model List<ProdutoModel>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light display-4">Catalogo de Produtos</h1>
            <p class="lead text-muted">If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated - click here to donate using PayPal. Thank you for your support.</p>
        </div>
    </div>
</section>
@foreach (var item in Model){
    <div class="container">
    <div class="card mb-3" style="max-width: 352px;">
        <div class="row g-0">
            <div class="col-md-12">
                <img src="@item.Image1" style="width:350px; max-height: 410px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.NomeProduto</h5>
                    <p class="card-text">@item.Descricao</p>
                    @*<p class="card-text"><small class="text-muted">Ultima atualização há 3 minutos</small></p>*@
                    <a role="button" asp-route-idProd="@item.IdProd" asp-controller="Products" asp-action="Detalhes" class="btn btn-primary btn-sm">Ver detalhes</a>
                    <button type="button" class="btn btn-dark btn-sm">@item.Preco.ToString("F2", CultureInfo.InstalledUICulture)</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="rounded">
    </div>
}
